; SystemD Unit for syslog-lite
;
; Background: https://www.freedesktop.org/wiki/Software/systemd/
;             https://www.freedesktop.org/software/systemd/man/systemd.service.html
;             https://www.freedesktop.org/software/systemd/man/systemd.exec.html
;             https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Simple Syslog Lookalike
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
; Sets the interval during which starts are limited with StartLimitBurst.
StartLimitIntervalSec=60
; No more than this number of restarts will happen per StartLimitInterval.
StartLimitBurst=5

[Service]
;WorkingDirectory=/var/run/syslog-lite
ExecStart=/usr/local/bin/syslog-lite
ExecReload=/bin/kill -HUP $MAINPID

; Run slightly below interactive priority
Nice=5

; Handle exit cases using always, on-success, on-failure, on-abnormal, on-abort, or on-watchdog.
Restart=on-failure

; User and group the process will run as.
User=sys
Group=adm

; Local configuration will be read from this directory.
; The text file should contain new-line-separated variable assignments.
; They are *not* shell syntax, although they are similar.
EnvironmentFile=/etc/default/syslog-lite.conf

; Increase the default a bit in order to allow many simultaneous
; files to be monitored, we might need a lot of fds.
LimitNOFILE=16384

; The following additional security directives further retrict privileges that can be gained by the service.
; Note that you may have to add capabilities required by any plugins in use.
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SYS_ADMIN CAP_SYSLOG
AmbientCapabilities=CAP_NET_BIND_SERVICE

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
NoNewPrivileges=yes
ProtectHome=read-only
ProtectClock=yes
ProtectHostname=yes

[Install]
WantedBy=multi-user.target
